<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Email Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<body style="background:#fff; font-family: 'Lato', sans-serif; margin:10px;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width:600px; margin:2rem auto; padding:0;">
  <tr>
    <td style="margin:0; padding:0;"><a href="#"><img src="http://mentorconnect.smaatapps.io/mentor_connect/asset/images/logo.jpg" alt="" title=""></a></td>
  </tr>
  <tr>
    <td style="margin:20px 0 0 0; padding:15px 0; border-bottom:solid 1px #ccc; display:block;">
    <h1 style="font:normal 20px/20px 'Lato', sans-serif; color:#aaa; margin:0; padding:0;">Thank you for signing up for BondooriWings!</h1>
    </td>
  </tr>
  <tr>
   <td style="margin:20px 0 0 0; padding:0; display:block;"><p style="margin:0; padding:0;">To complete your registration, we need you to confirm your email address. Please click the button below.</p></td>
  </tr>
  <tr>
    <td style="margin:0; padding:20px 0; border-bottom:solid 1px #ccc; display:block;">
      <a href="http://34.237.224.132:1212/signup/reg_verify?id=<%= user_id %>" target="blank"><button type="button" style=" width:100%; color:#fff; cursor:pointer; background:#ffc107; font:normal 14px/40px 'Lato', sans-serif; border:0; padding:0 15px; border-radius:5px; margin:0; outline:none;">Verify your email</button></a>
    </td>
  </tr>
  <tr>
  <td style="padding:10px 0; margin:0;">
  <p style="text-align:center; color:#666; font:bold 12px/18px 'Lato', sans-serif;">Our mailing address is: BONDOORI WINGS,8765 CENTRE PARK DR. #12B , COLUMBIA,MARYLAND 21045</p>
  </td>
  </tr>
</table>
</body>
</html>
