<div style="background:#fff;padding:0;margin:0">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width:660px;margin:0 auto"><tbody><tr><td style="background:#fff">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" id="m_-1972735902885857564m_498131549031212261main"><tbody><tr><td class="m_-1972735902885857564m_498131549031212261main" style="padding:12px 8px;background:#fff">
  <table style="width:100%">
    <tbody><tr>
      <td style="text-align:center">
        <a href="#" class="m_-1972735902885857564m_498131549031212261clarity-logo" style="display:inline-block;padding-top:10px;padding-bottom:10px" >
          <img src="http://34.237.224.132/img/logo.png"  width="121" height="auto" style="display:inline-block;color:#5f5f5f;font-size:16px;font-weight:bold;border:0" class="CToWUd">
        </a>
      </td>
    </tr>
  </tbody></table>


<table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;background:#fff">
  <tbody><tr>
    <td valign="top" style="padding-top:10px;padding-bottom:0;border:0;vertical-align:top">
      <h1 style="font-size:44px;line-height:48px;color:#aaa;font-weight:100;margin:0px;text-align:center">
        Welcome to BondooriWings
      </h1>
      <p style="font-size:22px;line-height:normal;color:#aaa;font-weight:300;margin:0;margin-top:30px;text-align:center">
              First Eat &nbsp;then Do everything else!
      </p>
    </td>
  </tr>
</tbody></table>



<table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;margin-top:35px;margin-bottom:35px;background:transparent;border:0">
  <tbody><tr>
    <td valign="top" style="height:1px;border:0;border-bottom:1px solid #e0e0df;overflow:hidden;background:transparent">
    </td>
  </tr>
</tbody></table>


<table cellpadding="0" cellspacing="0" border="0" id="m_-1972735902885857564m_498131549031212261features-columns" align="center" style="width:100%;background:#fff;table-layout:fixed">
  <tbody><tr>
    <td valign="top" style="vertical-align:top;padding-right:6px">
      <img src="http://34.237.224.132/img/foodorder.jpg" alt="Answers" style="display:block;width:100%;height:auto;border:0;margin-bottom:15px;border-radius:4px" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 254.5px; top: 557px;"><div id=":e9" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
      <h2 style="font-size:18px;line-height:normal;color:#393939;font-weight:500;margin:0;text-align:center">
        Delivery or Takeaway
      </h2>
      <p style="min-height:110px;font-size:15px;line-height:21px;color:#999;font-weight:300;margin:0;padding-top:10px;padding-bottom:15px;text-align:center">
        We offer takeaway and delivery services. Delivery range is around 3 Mile radius from the restaurant.
      </p>

      <div class="m_-1972735902885857564m_498131549031212261mobile-only" style="font-size:0;max-height:0;overflow:hidden;display:none">


      </div>
    </td>
    <td class="m_-1972735902885857564m_498131549031212261middle" valign="top" style="vertical-align:top;padding:0 3px">
      <img src="http://34.237.224.132/img/customersupport.jpg" alt="Calls" style="display:block;width:100%;height:auto;border:0;margin-bottom:15px;border-radius:4px" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 472.5px; top: 558px;"><div id=":ea" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
      <h2 style="font-size:18px;line-height:normal;color:#393939;font-weight:500;margin:0;text-align:center">
        Mobile Support
      </h2>
      <p style="min-height:110px;font-size:15px;line-height:21px;color:#999;font-weight:300;margin:0;padding-top:10px;padding-bottom:15px;text-align:center">
       We support mobile assistance for your services. You can call anytime during restaurant timings. Support call @ 757.328.9208
      </p>
      <div class="m_-1972735902885857564m_498131549031212261mobile-only" style="font-size:0;max-height:0;overflow:hidden;display:none">

      </div>

    </td>
    <td valign="top" style="vertical-align:top;padding-left:6px">
      <img src="http://34.237.224.132/img/card.jpg" alt="Live" style="display:block;width:100%;height:auto;border:0;margin-bottom:15px;border-radius:4px" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 690.5px; top: 558px;"><div id=":eb" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
      <h2 style="font-size:18px;line-height:normal;color:#393939;font-weight:500;margin:0;text-align:center">
        Secure Card Payment
      </h2>
      <p style="min-height:110px;font-size:15px;line-height:21px;color:#999;font-weight:300;margin:0;padding-top:10px;padding-bottom:15px;text-align:center">
       Send money with Bondoori Wings and secure Money Transfer service : Instant Deposits, Makes Paying Online Easy.
      </p>

      <div class="m_-1972735902885857564m_498131549031212261mobile-only" style="font-size:0;max-height:0;overflow:hidden;display:none">

      </div>

    </td>
  </tr>
  <tr class="m_-1972735902885857564m_498131549031212261no-mobile">
    <td valign="top" style="vertical-align:top;padding-right:6px">

    </td>
    <td class="m_-1972735902885857564m_498131549031212261middle" valign="top" style="vertical-align:top;padding:0 3px">

    </td>
    <td valign="top" style="vertical-align:top;padding-left:6px">
    </td>
</tr>

</tbody></table>
<table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;margin-top:35px;margin-bottom:35px;background:transparent;border:0">
  <tbody><tr>
    <td valign="top" style="height:1px;border:0;border-bottom:1px solid #e0e0df;overflow:hidden;background:transparent">
    </td>
  </tr>
   <tr>
    <td style="margin:0; padding:20px 0; border-bottom:solid 1px #ccc; display:block;"><a href="http://www.bondoori.com/food/#/order"><button type="button" style=" width:100%; color:#fff; cursor:pointer; background:#02aed4; font:normal 14px/40px 'Lato', sans-serif; border:0; padding:0 15px; border-radius:5px; margin:0; outline:none;" >Take your food here</button></a>
    </td>
  </tr>
</tbody></table>
<table cellpadding="0" cellspacing="0" border="0" align="center" id="m_-1972735902885857564m_498131549031212261footer" style="max-width:602px;padding-bottom:10px">
  <tbody><tr>
    <td valign="top" align="center" style="max-width:602px">
      <p style="display:block;padding:3px 10px;margin:0;text-align:center;color:#898989;line-height:16px;font-size:11px">
      
      </p>
    </td>
  </tr>
</tbody></table>



<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" id="m_-1972735902885857564m_498131549031212261footer" style="padding-bottom:10px">
  <tbody><tr>
    <td valign="top" align="center" style="max-width:660px">
      <p style="display:block;padding:3px 10px;margin:0;text-align:center;color:#898989;line-height:16px;font-size:11px">
        Our mailing address is:
        <strong>BONDOORI WINGS,8765 CENTRE PARK DR. #12B , COLUMBIA,MARYLAND 21045</strong>
      </p>
    </td>
  </tr>
</tbody></table>


</td></tr></tbody></table>
</td></tr></tbody></table>

<img src="#" alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd"><div class="yj6qo"></div><div class="adL">
</div></div>
